*.log
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/database/*.sqlite
/database/*.sqlite-journal
/database/*.sqlite-shm
/database/*.sqlite-wal
/storage/*.key
/vendor
Homestead.json
Homestead.yaml

